@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Index";
}
@model MVC7.Models.CalculateModel
@using (Html.BeginForm("Index","Calculate",FormMethod.Post)) 
{
    <h1> addition form</h1>
    <b>Enter First no. : </b> @Html.TextBoxFor(m=>m.num1,new{@Value="Enter number"})
    <br>
    <b>Enter Second no. : </b> @Html.TextBoxFor(m=>m.num2,new{@Value="Enter number"})
    <br>
    <input type="submit" value="Calculate" />
    <br>
    <hr />
    

}
<h2>Calculation</h2>
     Addition is: @ViewBag.result
     <br />